---
layout: page
title: Downloads
description: Downloads for everyone's needs.
permalink: /downloads
icon: fas fa-cloud-download-alt
---

<div id="content">
  <div class="container">
    <div class="tabs is-toggle is-toggle-rounded is-centered is-fullwidth is-medium box">
      <ul>
        {% for d in site.downloads %}
        <li>
          <a href="#{{ d.id }}">
        <span class="icon is-small"><i class="{{ d.icon }} fa-lg"></i></span>
        <span>{{ d.title }}</span>
      </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="has-text-centered">
    </div><br /> {% for d in site.downloads %}
    <a name="{{ d.id }}"></a>
    <h1 class="title has-text-centered">
      <i class="{{ d.icon }}"></i> {{ d.title }}</h1> {{ d.content }} {% endfor %}
  </div>
</div>
