---
layout: page
title: Gallery
description: Public gallery, pretty self explanatory.
permalink: /gallery
icon: fas fa-camera-retro
---

<div id="content" class="container">
  <div class="tabs is-toggle is-centered is-toggle-rounded is-fullwidth">
    <ul>
      {% for g in site.gallery %}
      <li><a href="#{{ g.id }}">{{ g.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="has-text-centered">
  </div><br /> {% for g in site.gallery %}
  <a name="{{ g.id }}"></a>
  <h1 class="title has-text-centered">{{ g.title }}</h1> {{ g.content }} <hr />{% endfor %}
</div>
