---
layout: blank
---

{% include nav.html %}

<div class="container">
<br />
<div class="columns">
<div class="column">
<h1 class="title has-text-centered">{{ page.title }}</h1>
</div>
<div class="column is-narrow">
<a title="Edit this page on GitHub" class="button is-rounded" href="https://github.com/TheBobPony/bobpony.org/edit/master/{{ page.path }}"><i class="fas fa-edit fa-lg"></i></a><a title="Report issue with this page" class="button is-rounded" href="https://github.com/TheBobPony/bobpony.org/issues/new/choose"><i class="fas fa-exclamation-circle fa-lg"></i></a>
</div>
</div>
</div>
<hr />
{{content}}
<button class="button is-rounded is-medium" onclick="topFunction()" id="topBtn" title="Go to top"><i class="fas fa-chevron-up fa-lg"></i></button>
<br />
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns">
        <div class="column">
          <h3>Stay together</h3>
          <div class="columns">
                        <div class="column has-text-centered">
                            <a href="https://www.youtube.com/channel/UCAZzz2Dd9Xh6vTjNcxhqPZw" class="link" title="YouTube Channel"> <span class="icon is-large"> <i class="icons fab fa-youtube fa-3x"></i> </span> </a>
                            <a href="https://twitter.com/TheBobPony" class="link" title="@TheBobPony"> <span class="icon is-large"> <i class="icons fab fa-twitter fa-3x"></i> </span> </a>
							<a href="https://discord.me/bobpony" class="link" title="Discord Server"> <span class="icon is-large"> <i class="icons fab fa-discord fa-3x"></i> </span> </a>
                            <a href="https://github.com/TheBobPony" class="link" title="GitHub"> <span class="icon is-large"> <i class="icons fab fa-github fa-3x"></i> </span> </a>
							<a href="mailto:me@bobpony.org" class="link" title="E-mail"> <span class="icon is-large"> <i class="icons fas fa-envelope fa-3x"></i> </span> </a>
                        </div>
                    </div>
        </div>
        <div class="column is-hidden-mobile">
          <h3>Additional Links</h3>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScVBwxsxExujo1EXkiyI9vvfOCqoeNEbyxJyd9VqWyMHIfs2w/viewform?usp=sf_link">Send Feedback</a>
          <br>
          <a href="https://status.bobpony.org">Status</a>
          <br>
          <br>
        </div>
      </div>
      <p>
        <i class="far fa-copyright"></i> Bob Pony 2014 - 2019
      </p>
      <p>Created by Bob Pony with the help of <a href="https://github.com/TheBobPony/bobpony.org/graphs/contributors" class="has-text-white"> contributors</a>. <a href="https://github.com/TheBobPony/bobpony.org" class="has-text-white"><i class="fab fa-github"></i></a></p>
    </div>
  </div>
</footer>
